select#frameworks {
  -webkit-appearance: button;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 210px;
  border-radius: 5.5px;
  margin-left: 150px;
}

.cards__item {
  display: flex;
  padding-left: 150px;
  margin-top: 38px;
  flex-wrap: wrap;
}
